<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected by Ice</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<header>
    <h1 class="h1-home"><a href="../Templates/index.html" class="h1-a">Selected by Ice</a></h1>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="../Templates/index.html">Home </a>
            </li>
            <li>
                <a href="../Templates/about.html">About </a>
            </li>
            <li>
                <a href="../Templates/drinks.html">Favorites </a>
            </li>
            <li>
                <a href="../Templates/contact.html">Contact </a>
            </li>

        </ul>
    </nav>
</header>

<body>
    <div class="container-img">
        <div class="img-header"><img src="../Images/aboutMe.jpg" alt=""></div>
        <h1 class="about-header">Rensel "Ice" Cabrera</h1>
        <div class="about">
            <p class="about-p">This is a just a random paragraph.I will add more details if asked. I am now just writing random text to add filler. Just more text to make this paragraph seem fuller. I'm out of ideas now.&nbsp;</p>
        </div>
    </div>
    <div class="blank"></div>
</body>


</html>