<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected by Ice</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<header>
    <div class="h1-home">
        <h1><a href="../Templates/index.html" class="h1-a">Selected by Ice</a></h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="../Templates/index.html">Home </a>
            </li>
            <li>
                <a href="../Templates/about.html">About </a>
            </li>
            <li>
                <a href="../Templates/drinks.html">Favorites </a>
            </li>
            <li>
                <a href="../Templates/contact.html">Contact </a>
            </li>

        </ul>
    </nav>
</header>

<body>
    <div class="img-block">
        <img src="../Images/drink1.jpg" alt="">
        <div class="drink-container">
            <div class="drink-text">
                <h2 class="drink-title">Drink</h2>
            </div>
            <div class="drink-dis">
                <p>some temp text will be going here just to test out funct. this will be a button later on in the future.</p>
            </div>
        </div>
    </div>
    <div class="img-block">
        <img src="../Images/drink2.jpg" alt="">
        <div class="drink-container">
            <div class="drink-text">
                <h2 class="drink-title">Drink</h2>
            </div>

            <div class="drink-dis">
                <p>some temp text will be going here just to test out funct. this will be a button later on in the future.</p>
            </div>
        </div>
    </div>
    <div class="img-block">
        <img src="../Images/drink4.jpg" alt="">
        <div class="drink-container">
            <div class="drink-text">
                <h2 class="drink-title">Drink</h2>
            </div>

            <div class="drink-dis">
                <p>some temp text will be going here just to test out funct. this will be a button later on in the future.</p>
            </div>
        </div>
    </div>
    <div class="img-block">
        <img src="../Images/drink3.jpg" alt="">
        <div class="drink-container">
            <div class="drink-text">
                <h2 class="drink-title">Drink</h2>
            </div>

            <div class="drink-dis">
                <p>some temp text will be going here just to test out funct. this will be a button later on in the future.</p>
            </div>
        </div>
    </div>
</body>

</html>