<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selected by Ice</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>

<header>
    <div class="h1-home">
        <h1><a href="../Templates/index.html" class="h1-a">Selected by Ice</a></h1>
    </div>
    <nav>
        <ul class="nav-links">
            <li>
                <a href="../Templates/index.html">Home </a>
            </li>
            <li>
                <a href="../Templates/about.html">About </a>
            </li>
            <li>
                <a href="../Templates/drinks.html">Favorites </a>
            </li>
            <li>
                <a href="../Templates/contact.html">Contact </a>
            </li>
        </ul>
    </nav>

</header>

<body>
    <div class="bckgrnd-img">
        <div class="txt">
            <h3>View & Read About Some of My Favorite Drinks</h3>
            <div class="btn-space1">
                <a href="../Templates/drinks.html" class="button">View More</a>
            </div>
        </div>
    </div>
</body>

</html>